# Step 1: Preparing the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df  = pd.read_csv('Admission_Predict.csv')

In [3]:
df['Acceptance'] = np.where(df['CGPA']>=8.5, 1, 0)
# 1 = yes
# 0 = no

In [4]:
df.drop(['Serial No.'], axis=1, inplace=True)

In [5]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Acceptance
0,337,118,4,4.5,4.5,9.65,1,0.92,1
1,324,107,4,4.0,4.5,8.87,1,0.76,1
2,316,104,3,3.0,3.5,8.00,1,0.72,0
3,322,110,3,3.5,2.5,8.67,1,0.80,1
4,314,103,2,2.0,3.0,8.21,0,0.65,0

# Step 2: Buiding the model

### Steps to build your model:
#### 1. Define: What type of model will it be? A decision tree?
#### 2. Fit: Capture patterns from provided data.
#### 3. Predict: Just what it sounds like
#### 4. Evaluate: Determine how accurate the model's predictions are

In [6]:
y = df.Acceptance

In [7]:
X_col = ['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research']
X = df[X_col]

### 1. Define

In [8]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 10, random_state = 30)

### 2. Fitting (train)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state=20)

In [10]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=30)

### 3. Predict

In [12]:
prediction_test = model.predict(X_test)

### 4. Evaluate

In [13]:
from sklearn import metrics
print("Accuracy= ", metrics.accuracy_score(y_test, prediction_test))

Accuracy=  1.0

# Step 3:  Predict new data

In [14]:
new_data = {
    'GRE':[500],
    'TOEFL':[118],
    'UR': [4],
    'SOP': [4.5],
    'LOR': [4.5],
    'CGPA':[9.65],
    'Research': [1]
}

new_df = pd.DataFrame(data=new_data)
new_df

   GRE  TOEFL  UR  SOP  LOR  CGPA  Research
0  500    118   4  4.5  4.5  9.65         1

In [15]:
model.predict(new_df)

array([1])